.idea
.venv
*.pyc
data_files
dev_environ/jupyter-data/.ipynb_checkpoints
dev_environ/jupyter-data/test_outputs/*
dev_environ/milvus
source/data_flattening/ms_teams/output
source/data_flattening/service_now/output
source/data_scraping/ms_graph/config
source/data_scraping/ms_graph/output
source/data_scraping/service_now/config
source/data_scraping/web_crawler/archive
source/data_scraping/web_crawler/config
source/data_scraping/web_crawler/state.json
